.contactform-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
    background-color: #F99F46;
    padding-bottom: 5em;
}
.contact__left{
    color: white;
    line-height: 30px;
    position: relative;
    bottom: 1em;
}
.contact__left span{
    font-weight: bold;
    font-size: 25px;
    display: inline-block;
    position: relative;
    bottom: 2em;
}
.contact__left p{
    font-size: 15px;
    font-weight: lighter;
    position: relative;
    bottom: 1em;
}
/**/
.iconstext__container{
    color: white;
}
.iconstext__container ul{
    list-style: none;
}
.icon__person{
    position: relative;
    top: .2em;
}
.icon__phone{
    position: relative;
    top: .3em;
}
.icon__mail{
    position: relative;
    top: .5em;
}
/**/
.form-right{
    color: white;
    width: 40%;
    height: 450px;
    position: relative;
    top: 3em;
    left: 2em;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em 1em;
    line-height: 25px;
}
.form__field{
    display: flex;
    flex-direction: column;
    padding-top: 2em;
}
.form__input{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
}
.form__textarea{
    background: none;
    border: none;
    resize: none;
    border: 1px solid white;
    flex-basis: 100px;
    outline: none;
}
.form__submit{
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 15px;
    outline: none;
    background-color: white;
    color: #5E605E;
    font-size: 16px;
    font-weight: lighter;
    outline: none;
    position: relative;
    top: 1em;
}