.teacher-container{
    width: 100%;
    height: 800px;
    background-color: #FF8B00;
}

.teacher-container__title{
    color: white;
    font-size: 28px;
   /* background-color: violet;*/
    padding: 2em 0em 0 6.5em;
}

.grid-container__teacher{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: minmax(400px,auto);
    color:  #23504D;
    padding: 2em 8em;
    line-height: 25px;
    margin-top: 1em;
}

/*.grid-item__1teacher{
    border: 1px solid chartreuse;
    background-color: yellowgreen;

}*/
.item-1teacher__card{
    position: relative;
    left: 3.5em;
    width: 68%;
    height: 70%;
    background-color: white;
}
.item-1teacher__card span{
    font-size: 18px;
    font-weight: bolder;
    text-align: justify;
    position: relative;
    top: 5em;
    left: 2.5em;
}
.item-1teacher__card p{
    font-size: 16px;
    text-align: center;
    position: relative;
    top: 6em;
    font-weight: lighter;
}
.item-1teacher__icons{
    position: relative;
    bottom: 1em;
    left: 5em;
    width: 53%;
    height: 10%;
    background-color: white;
    box-shadow: inset 0 15px 20px -15px black;
}
.item-1teacher__icons p{
    position: relative;
    bottom: .7em;
    text-align: center;
}
.icon__fb,
.icon__tw,
.icon__insta,
.icon__youtube{
    position: relative;
    top: .5em;
    left: .8em;
    margin: 0 .2em;
}

/*.grid-item__2teacher{
    border: 1px solid chartreuse;
    background-color: orchid;
}*/
.item-2teacher__card{
    position: relative;
    left: 3.5em;
    top: 14em;
    width: 68%;
    height: 70%;
    background-color: white;
}
.item-2teacher__card span{
    font-size: 18px;
    font-weight: bolder;
    text-align: justify;
    position: relative;
    top: 5em;
    left: 2.5em;
}
.item-2teacher__card p{
    font-size: 16px;
    text-align: center;
    position: relative;
    top: 6em;
    font-weight: lighter;
}
.item-2teacher__icons{
    position: relative;
    left: 5em;
    top: 13em;
    width: 53%;
    height: 10%;
    background-color: white;
    padding: 1px;
    box-shadow: inset 0 15px 20px -15px black;
}
.item-2teacher__icons p{
    position: relative;
    bottom: .7em;
    text-align: center;
}

/*.grid-item__3teacher{
    border: 1px solid chartreuse;
    background-color: yellowgreen;

}*/
.item-3teacher__card{
    position: relative;
    left: 3.5em;
    top: 2em;
    width: 68%;
    height: 70%;
    background-color: white;
}
.item-3teacher__card span{
    font-size: 18px;
    font-weight: bolder;
    text-align: justify;
    position: relative;
    top: 5em;
    left: 2.5em;
}
.item-3teacher__card p{
    font-size: 16px;
    text-align: center;
    position: relative;
    top: 6em;
    font-weight: lighter;
}
.item-3teacher__icons{
    position: relative;
    left: 5em;
    top: 1em;
    width: 53%;
    height: 10%;
    background-color: white;
    padding: 1px;
    box-shadow: inset 0 15px 20px -15px black;
}
.item-3teacher__icons p{
    position: relative;
    bottom: .7em;
    text-align: center;
}
