.campus-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #D3D3D3; 
    
}

.grid-container__campus{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 2em 10em;
}
.grid-container__campus p{
    font-size: 16px;
    line-height: 28px;
    color: #545454;
}

.grid-item__map{
    /*border: 1px solid chartreuse;*/
    padding-top: 1.5em;
}

/*.grid-item__2col{
    border: 1px solid chartreuse;
}*/
.grid__2col--item{
    position: relative;
    top: 3em;
    left: 10em;
}
.grid__2col--item span{
    font-weight: bold;
}

/*.grid-item__3col{
    border: 1px solid chartreuse;
}*/
.grid__3col--item{
    position: relative;
    top: 3em;
    left: 3em;
}
.grid__3col--item span{
    font-weight: bold;
}