.box-container__table{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1em 10em;

}
.table-container{
    margin-top: 2em;
}
.table-container h4{
    color: #545454;
}
.table{
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}
.table caption{
    font-size: 28px;
    text-align: left;
    color: #545454;
    margin: 8px 0px;
}
.table th, .table td{
    font-size: 16px;
    padding: 8px;
    border: none;
    outline:none ;
}

.table tbody{
    color: #545454;
}
.table tbody tr:hover{
    background-color: rgba(0,0,0,0.1);
}

.table__tbody--1col{
    text-align: left;
    
}
.table__tbody--2col, .table__tbody--3col, .table__tbody--4col {
    border-left: 1px solid #000000 !important;
    text-align: center;
}
.table__thead--module{
    text-align: left;
}
.table__tfoot--total{
    text-align: right;
}

@media screen and (max-width: 600px){
    .table{
        border: 0px;
    }
    .table caption{
        font-size: 22px;
    }
    .table thead{
        display: none;
    }
    .table tr{
        display: block;
        margin-bottom: 8px;
        border-bottom: 1px solid #545454;
    }
    .table td, table th{
        font-size: 12px;
    }
    .table td{
        border-left: 0px solid transparent;
        display: block;
        text-align: right;
    }
    .table tbody tr:hover{
        background-color: rgba(0,0,0,0);
    }
    .table tbody td:hover{
        background-color: rgba(0,0,0,0.1);
    }
    .table td::before{
        content: attr(data-label);
        font-weight: bold;
        float: left;
    }

}