.box-imglrD {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0em 8em 6em;
}

.box-img__left--down{
    width: 30%;
    height: 60%;
    /*background: blue;*/
    text-align: center;
    overflow: hidden;
    position: relative;
    top:7em;
    right: 3em;
}

.box-img__right--up {
    width: 30%;
    height: 60%;
    background: chartreuse;
    text-align: center;
    overflow: hidden;
    position: relative;
    left: 3em;
    margin-top: 4em;
}

.img--light{
    position: relative;
    width: 50vw;
    left: -70%;
}

.img--dark{
    position: relative;
    width: 50vw;
    left: -70%;
    
}
.img--title h4{
    position: absolute;
    color: white;
    font-size: 2.5vw;  
    top: 5% ;
    right: 8.5%;
    font-weight: bold;
    line-height: 65px;
}

.img--title h5{
    position: absolute;
    font-size: 1.5vw;
    color: white;
    font-weight: lighter;
    bottom: 15% ;
    right: 31%;
}

.img--title h6{
    position: absolute;
    font-size: 1vw;
    color: white;
    font-weight: lighter;
    bottom: 5% ;
    right: 43.5%;
}

.box-imglrC {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 6em 8em 0;
    
}

.box-img__left--up{
    width: 30%;
    height: 60%;
    /*background: blue;*/
    text-align: center;
    overflow: hidden;
    position: relative;
    right: 3em ; 
    bottom:6em;
    
    margin-top: 4em;
}

.box-img__right--down{
    width: 30%;
    height: 60%;
    background: chartreuse;
    text-align: center;
    overflow: hidden;
    position: relative;
    left: 3em;
    top: 2em;
    z-index: 100;
}

