.contenido {
    width: 100%;
    height: 100%;
    padding: .5% 8%;
    /*background: yellow;*/
}

.box-titletext {
    display: flex;
    position: relative;
    top: 1em;
    margin-top: 5em;
}

.title__left {
    width: 50%;
    /*background: rebeccapurple;*/
    align-items: center;
    font-size: 2rem;
    font-weight: bolder;
    color: #545454;
    position: relative;
    left: 4em; 
}

.text__right {
    width: 50%;
    /*background: yellowgreen;*/
    font-weight: normal;
    line-height: 30px;
    text-align: justify;
    color: #545454;
}