.box-descuentos{
    display: flex;
    background: #747987;
    height: 35vw;
    padding: 6% 3% 8% 9%;
}

.g-cL__item--title{
    color: white;
    font-weight: bolder;
    position: relative;
    left: 1em;
    bottom: 3em;
}

.g-cL__item--content{
    color: white;
    padding: 2em;
    text-align: justify;
   /* border: 1px solid red;*/
}

.grid-containerRight{
    grid-template-rows: repeat(5,1fr);
    position: relative;
    top: 3em;
    left: 1em;
}

.g-cR__item {
    color: white;
    border-left: 1px solid white;
    border-bottom: none;
    border-top: none;
    border-right: none;
    position: relative;
    top: 1em;
    padding-left: 1em;
}