.mov {
  width: 100%;
  height: 100%;
  z-index: 100;
}

.opacity {
  background-color: rgba(22, 20, 10, 0.25);
}

.titulo {
  width: 50%;
  color: #f2f2f2;
  margin-left: 10%;
  align-items: center;
  font-size: 4rem;
  font-weight: bold;
}

.texto_f {
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
  text-align: right;
  padding-right: 10%;
}

.bg {
  height: 100vh;
  min-height: 300px;
 /* margin-bottom: 5em;*/
}

.crl {
  width: 100%;
  height: 100vh;
}