.fac {
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: lighter;
}

.fac h2 {
  font-size: 3.5rem;
}

.mas {
  margin-top: 8%;
}

.copy {
  margin-top: 5%;
}

.iconos {
  margin-left: 70%;
  margin-top: 45%;
  flex-direction: row;
}

.icono {
  margin: 2%;
}

.footerInfo{
  padding: 10% 10% 5% 10%;
  color: #f2f2f2;
  background-image: radial-gradient(circle, #63AFFC, #3F4B67);
}

.footerIni {
  margin-top: 30%;
  padding: 10% 10% 5% 10%;
  color: #f2f2f2;
  background-image: radial-gradient(circle, #63AFFC, #3F4B67);
}

.footerAnalisis{
  padding: 10% 10% 5% 10%;
  color: #f2f2f2;
  background-image: radial-gradient(circle, #FBB03B, #8A5A24);
}

.footerA1 {
  margin-top: 10%;
  padding: 10% 10% 5% 10%;
  color: #f2f2f2;
  background-image: radial-gradient(circle, #FBB03B, #8A5A24);
}

.footerA2{
  margin-top: 15%;
  padding: 10% 10% 5% 10%;
  color: #f2f2f2;
  background-image: radial-gradient(circle, #8CC63F, #4D594D);
}

.footerA3{
  margin-top: 15%;
  padding: 10% 10% 5% 10%;
  color: #f2f2f2;
  background-image: radial-gradient(circle, #990A2F, #564248);
}