.titleFP--span {
    font-size: 25px;
    font-weight: bold;
    line-height: 50px;
}

.subtitleFP--span {
    line-height: 50px;
    font-weight: bold;
}

.box-gralFP {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 5% 10% 6.5% 15%;
    margin-bottom: 10em;
}

.paymentMethods__title {
    font-size: 20px;
    margin-bottom: 3em;
}

.box-img1FP {
    width: 80%;
    height: 90%;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.box-img1FP img {
    position: relative;
    width: 50vw;
    left: -55%;
}

.box-img1FP h5 {
    position: relative;
    right: 5.7em;
}

.img--titleFP {
    position: relative;
    text-align: left;
}

/*2*/

.box-img2FP {
    width: 80%;
    height: 90%;
    text-align: center;
    overflow: hidden;
    position: relative;
    top: 14.5em;
}

.box-img2FP img {
    position: relative;
    width: 50vw;
    left: -89%;
}

.box-img2FP h5 {
    position: relative;
    right: .4em;
}

/*3*/

.box-img3FP {
    width: 80%;
    height: 90%;
    text-align: center;
    overflow: hidden;
    position: relative;
    top: 5em;
    margin-bottom: 7em;
}

.box-img3FP img {
    position: relative;
    width: 50vw;
    left: -90%;
}

.box-img3FP h5 {
    position: relative;
    right: 5.5em;
}