.PI-container{
    width: 100%;
    height: 800px;
    padding: 0 10%;
    margin-top: 1em;
    margin-bottom: 3em;
    text-align: justify;
}
.PI__title{
    font-weight: bold;
    font-size: 25px;
    padding: 1em 0;
}
.PI__number{
    font-size: 4rem;
    color:#c8c6c5;
    margin-right: .5em;
}
.PI__item01,
.PI__item02,
.PI__item03{
    padding: 0 3em;
}
.PI__item01,
.PI__item03{
    position: relative;
    top: 8em;
}
.PI__item04{
    padding: 0 38%;
    position: relative;
    top: 8em;
}
.PI__item--p{
    padding-left: 1.5em;
}