.cuerpo{
    padding: 10% 8% 25% 8%;
  }
  
  .areas{
    width: 50%;
    align-items: center;
    font-size: 2rem;
    font-weight: bolder;
  }
  
  .text_areas{
    width: 50%;
    
  }
  
  .numeros{
    position: relative;
    z-index: 300;
    margin-top: 5%;
    height: 100%;
  }
  
  .bases{
    overflow: hidden;
    height: 100%;
  }
  
  .desarrollo{
    top: 80%;
    overflow: hidden;
    height: 100%;
  }
  
  .numero{
    font-size: 8rem;
    color:#c8c6c5;
  }
  
  .numero_titulo{
    z-index: 400;
    top: 12%;
    margin-left: 10%;
    font-size: 1.3rem;
    font-weight: bolder;
  }
  
  .text_titulo{
    margin-left: 10%;
  }
  
  .imagen{
    width: 80%;
    height: 80vh;
    margin-top: 10%;
    margin-left: 10%;
    overflow: hidden;
  }
  
  .imagen img{
    width: 60vw;
    left: -65%;
    bottom: 8%;
  }
  
  .imagen_des{
    width: 80%;
    height: 80vh;
    background-color: red;
    margin-top: 10%;
    margin-left: 10%;
    overflow: hidden;
  }
  
  .imagen_des img{
    width: 69vw;
    left: -135%;
    bottom: 8%;
  }
  
  .disenio{
    top: 20%;
    overflow: hidden;
    height: 100%;
  }
  
  .imagen_dis{
    width: 80%;
    height: 80vh;
    background-color: red;
    margin-top: 10%;
    margin-left: 10%;
    overflow: hidden;
  }
  
  
  .imagen_dis img{
    width: 64vw;
    left: -70%;
    bottom: 10%;
  }