.introduction-container{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3em;
    position: relative;
    top: 5em;
    margin-bottom:8em ;
}

.introduction__title--border{
    border-bottom: 3px solid #6BB219;
    border-left: 3px solid #6BB219;
    margin-right: 7em;
}

.introduction__title--border h4{
    position: relative;
    left: .5em;
    bottom: .1em;
    color: #545454;
}

.introduction__description--text p{
    padding: 0 3em 0 5em;
    text-align: justify;
    color: #545454;
}