.box-lineasD {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 4em 8em 10em;
}

.box-img__left--downLineasD {
    /*width: 58vh;
    height: 100%;*/
    width: 30%;
    height: 60%;
    background: none;
    border-bottom: 3px solid #CC3300;
    border-left: 3px solid #CC3300;
    background: none;
    border-top: none;
    text-align: center;
    overflow: hidden;
    position: relative;
    top: 5em;
}

.img--darkLineas {
    position: relative;
    width: 50vw;
    left: 1em;
    top: -1em;
}

.box-img__right--upLineasD {
    width: 30%;
    height: 60%;
    /*background: chartreuse;*/
    background: none;
    border-bottom: 3px solid #6BB219;
    border-left: 3px solid #6BB219;
    background: none;
    border-top: none;
    text-align: center;
    overflow: hidden;
    position: relative;
    left: 3em;
}

.img--lightLineas {
    position: relative;
    width: 50vw;
    left: 1em;
    top: -1em;
}

.img--titleLineas {
    font-size: 1.5vw;
    color: white;
    font-weight: lighter;
    position: absolute;
    top: 2em;
    padding-left: 1em;
}

.img--titleLineas span {
    font-size: 2.5vw;
    font-weight: bold;
    line-height: 65px;
}

/*CURSO, TITLE Y DARK LIGT NO CAMBIAN*/

.box-lineasC {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10em 8em 6em;
}

.box-img__left--upLineasC {
    width: 30%;
    height: 60%;
    /*background: chartreuse;*/
    background: none;
    border-bottom: 3px solid #E5C615;
    border-left: 3px solid #E5C615;
    border-top: none;
    border-right: none;
    text-align: center;
    overflow: hidden;
    position: relative;
    right: 3em;
    bottom: 6em;
}

.box-img__right--downLineasC {
    width: 30%;
    height: 60%;
    /*background: blue;*/
    background: none;
    border-bottom: 3px solid #6BB219;
    border-left: 3px solid #6BB219;
    border-top: none;
    text-align: center;
    overflow: hidden;
    position: relative;
    left: 3em;
}

.button {
    border: none;
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button--img {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
}

.button--img:hover {
    background-color: rgba(22, 20, 10, 0.19)
}

.button--imgR {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    position: relative;
    top: 8em;
}