.contenedor{
    /*border: 3px solid black;
    padding-left: 2em;
    margin-left: 2em;*/
    width: 100%;
    height: 100%;
}

.box--red{
    position: relative;
    width: 870px;
    height: 170px;
    border-bottom: 3px solid #CC3300;
    border-left: 3px solid #CC3300;
    background: none;
    border-top: none;
    border-right: none;
    left: 190px;
    bottom:150px;
    z-index:100;
}   

.box--yellow{
    position: relative;
    width: 870px;
    height: 170px;
    border-bottom: 3px solid #E5C615;
    border-left: 3px solid #E5C615;
    border-top: none;
    border-right: none;
    background: none;
    top: -10px;
    left: 220px;
    z-index: 200;
}

.box--green{
    position: relative;
    width: 870px;
    height: 170px;
    border-bottom: 3px solid #6BB219;
    border-left: 3px solid #6BB219;
    border-top: none;
    border-right: none;
    background: none;
    top: 130px;
    left: 250px;
    z-index: 300;
}

.text p{
    position: relative;
    text-align: justify;
    z-index: 400;
    left: 2em;
    top: 2em;
    color:  #545454;
    font-size: 1rem;
    font-weight: bold;
}