.menu {
  width: 100%;
  z-index: 200;/*tenia 200*/
  padding: 1% 2%;
}

.logos-container{
  width: 50%;
}
.logo__left,
.logo__right{
  margin: 0 2%;
}
.logo__left--img {
  width: 8%;
}
.logo__left--UNAM{
  color: white;
}
.logo__right--img {
  width: 30%;
}

.enlaces_menu {
  width: 50%;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 7em;
  line-height: 30px;
}

.enlaces_menu ul {
  justify-content: flex-end;
  margin-top: 4.5%;
}

.enlaces_menu ul li {
  display: block;
  margin: 0 2.5%;
  padding: 0;
}

.enlaces ul li ul li {
  border-left: orchid 1px solid;
}

.enlaces_menu ul li a {
  color: #f2f2f2;
  font-size: 1.2rem;
  text-decoration: none;
  white-space:nowrap
}

.enlaces_menu ul ul {
  position: absolute;
  top: 20%;
  opacity: 0;
  transition: all 0.6s;
}

.enlaces_menu ul ul li {
  border-left: cyan 2px solid;
  padding-left: 12px;
}

.enlaces_menu ul li:hover ul {
  display: block;
  opacity: 1;
  transform: translateX(-25%);
}

ul.menu__ulli li{/*solo se aplica a los li que están dentro de ul*/
  position: relative;
  top: 1em;
}

.linea {
  display: inline-block;
  background-color: aqua;
  width: 3px;
  height: 50%;
  margin: 8px 0 0 0;
  position: absolute;
  opacity: 0.5;
}

.enlace {
  margin: 10px;
  text-decoration: none;
}

.enlace a {
  color: #f2f2f2;
}

.enlace a:hover {
  text-decoration: none;
}