.wrap__submenu--inicio {
    width: 100%;
    height: 15%;
    position: absolute;
    z-index: 150;
    background-color: rgba(0, 0, 0, 46%);
    /*cambia color de area*/
}

.wrap__submenu--A1 {
    width: 100%;
    height: 15%;
    position: absolute;
    z-index: 150;
    background-color: rgba(255, 139, 0, 40%);
    /*cambia color de area*/
}

.wrap__submenu--A2 {
    width: 100%;
    height: 15%;
    position: absolute;
    z-index: 150;
    background-color: rgba(111, 155, 60, 68%);
    /*cambia color de area*/
}

.wrap__submenu--A3 {
    width: 100%;
    height: 15%;
    position: absolute;
    z-index: 150;
    background-color: rgba(153, 10, 47, 68%);
    /*cambia color de area*/
}
.wrap__submenu--Info {
    width: 100%;
    height: 15%;
    position: absolute;
    z-index: 150;
    background-color: rgba(0, 0, 0, 46%);
    /*cambia color de area*/
}
.submenu__menu {
    color: white;
    font-size: 1.2rem;
    width: 100%;
    list-style: none;
}

.submenu__menu nav {
    height: 50px;
    width: 100%;
    padding-top: 8%;
    position: relative;
    top: .5em;
}

.left__area {
    padding: 0 5em;
}

.right__submenu--ul {
    float: right;
    margin-right: 10em;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
}

.submenu__line--A1 {
    display: inline-block;
    background-color: rgba(255, 139, 0, 100%);
    /*cambia color de area*/
    width: 100%;
    height: .2vw;
}

.submenu__line--A2 {
    display: inline-block;
    background-color: rgba(111, 155, 60, 68%);
    /*cambia color de area*/
    width: 100%;
    height: .2vw;
}

.submenu__line--A3 {
    display: inline-block;
    background-color: rgba(153, 10, 47, 68%);
    /*cambia color de area*/
    width: 100%;
    height: .2vw;
}

.submenu__line--Info {
    display: inline-block;
    background-color: rgba(0, 0, 0, 68%);
    /*cambia color de area*/
    width: 100%;
    height: .2vw;
}