*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html,body{
  margin:0px;
  height:100%;
  position: relative;
  font-family: 'Montserrat', sans-serif, Times;
}

.relativo{
  position: relative;
}

.abs{
  position: absolute;
}

.flex{
  display: flex;
}

